@import url('http://fonts.cdnfonts.com/css/graphicpixel');
@import url('http://fonts.cdnfonts.com/css/thumbs-up');
@import url('http://fonts.cdnfonts.com/css/fipps');
@import url('http://fonts.cdnfonts.com/css/hiskyflipper');

body{
  /* font-family: 'GraphicPixel', sans-serif;*/
  font-family: 'GraphicPixel', 'HISKYFLIPPERHIBOLD';
  background: #2A0944;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  color: white;
  font-size: 60px;
  font-family: 'Fipps', sans-serif;
  width: 100%;
  height: 125px;
  text-align: center;
  letter-spacing: 8px;
  font-weight: normal;
}
#select-personaje{
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 56vh;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
}
.subtitulo{
  font-size: 40px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'GraphicPixel', 'HISKYFLIPPERLOWBOLD';
  letter-spacing: 5px;
}
.tarjetas{
  display: flex;
  gap: 10px;
}
.tarjeta-personaje{
  width: 155px;
  height: 220px;
  font-size: 20px;
  padding: 10px;
  background: #3FA796;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px;
  color: white;
  text-align: center;
}
.tarjeta-personaje img{
  width: 137px;
  height: 145px;
  object-fit: cover;
}
input{
  width: 5px;
  display: none;
}
button{
  background-color: #A10035;
  font-family: 'GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 25px;
  font-weight: bold;
  width: 330px;
  height: 50px;
  margin-top: 50px;
  color: whitesmoke;
  border-radius: 30px;
  border: 2px solid whitesmoke;
  border-color: #FEC260;
  letter-spacing: 5px;
}

#select-ataque{
  /* display: flex; */
  background-color: #D61C4E;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 90vh;
  align-items: center;
  border: 10px solid #FEC260;
  border-radius: 5px;
  margin-top: 100px;
}
.boton-ataque{
  background-color: #3FA796;
  font-family: 'GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 25px;
  font-weight: bold;
  width: 180px;
  height: 50px;
  margin-top: 50px;
  color: whitesmoke;
  border-radius: 8px;
  border: 4px solid black;
  letter-spacing: 5px;
  margin-right: 20px;
}
.mensajes-resultado{
  color: #2A0944;
}