@import url('http://fonts.cdnfonts.com/css/graphicpixel');
@import url('http://fonts.cdnfonts.com/css/fipps');
@import url('http://fonts.cdnfonts.com/css/hiskyflipper');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  /* font-family: 'GraphicPixel', sans-serif;*/
  font-family: 'GraphicPixel', 'HISKYFLIPPERHIBOLD';
  background: #2A0944;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  color: white;
  font-size: 60px;
  font-family: 'Press Start 2P', 'Fipps', sans-serif;
  width: 100%;
  height: 125px;
  text-align: center;
  letter-spacing: 8px;
  font-weight: normal;
  margin-top: 100px;
}
#select-personaje{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 70vh;
  align-items: center;
  border: 10px solid #D61C4E;
  border-radius: 5px;
  font-size: 18px;
  margin: 100px;
}
.subtitulo{
  font-size: 22px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERLOWBOLD';
  letter-spacing: 5px;
  padding: 20px;
  margin-top: 50px;
}
.tarjetas, .tarjetas-ataques{
  display: flex;
  gap: 10px;
  margin-top: 30px;
  padding: 50px;
}
.tarjeta-personaje{
  width: 165px;
  height: 240px;
  font-size: 20px;
  padding: 10px;
  background: #3FA796;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.tarjeta-personaje img{
  width: 137px;
  height: 145px;
  object-fit: cover;
}
.tarjeta-personaje p{
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 14px;
}
input{
  width: 5px;
  display: none;
}
/* con el :checked le doy un color de fondo cuando el usuario seleccione una tarjeta */
input:checked + label{
  background: #FEC260;
}
button{
  background-color: #A10035;
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 18px;
  font-weight: bold;
  width: 330px;
  height: 60px;
  color: whitesmoke;
  border-radius: 30px;
  border: 5px solid #FEC260;
  letter-spacing: 5px;
  cursor: pointer;
}
#select-ataque{
  /* display: flex; */
  background-color: #D61C4E;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
  align-items: center;
  border: 10px solid #FEC260;
  border-radius: 5px;
  margin: 100px;
}
#select-ataque button {
  margin-top: 40px;
}
.boton-ataque{
  background-color: #3FA796;
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 60px;
  margin: 12px;
  color: whitesmoke;
  border-radius: 35px;
  border: 4px solid #2A0944;
  letter-spacing: 5px;
  margin-right: 20px;
}
.boton-ataque:checked {
  background: #3FA796;
}
.mensajes-resultado{
  color: #2A0944;
}

#mensajes{
  height: 100px;
  width: 280px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: white;
  text-align: center;
  border: 5px solid #2A0944;
  align-items: center;
}
.resultado-ataques{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#resultado{
  font-size: 14px;
  font-weight: bold;
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERHIBOLD';
}
#boton-reiniciar{
  font-size: 14px;
  width: 200px;
}

.mensajes-ataques{
  display: grid;
  grid-template-columns: 150px 150px;
  margin: 60px;
  height: auto;
  gap: 50px;
}
.mensajes-ataques p{
  text-align: center;
}
.jugador, .oponente{
  background-color: #FEC260;
  border-radius: 10px;
  border: 5px solid #2A0944;
}
#ataques-jugador, #ataques-oponente{
  font-size: 12px;
}
#personaje-jugador, #personaje-oponente{
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 14px;
  font-weight: bold;
}
#vidas-jugador, #vidas-oponente{
  font-family: 'Press Start 2P','GraphicPixel', 'HISKYFLIPPERHIBOLD';
  font-size: 30px;
  font-weight: bold;
}
/* Le doy estilos al mapa de canvas */
#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mapa {
  border: 2px solid white
}



/* Hasta(max-width) este tamaño de pantalla se estilara lo que esta dentro del @media */
@media (max-width: 428px) {
  .titulo{
    color: white;
    font-size: 21px;
    font-family: 'Press Start 2P', 'Fipps', sans-serif;
    /* width: auto; */
    height: 60px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: normal;
    margin-top: 50px;
  }
  #select-personaje{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 48vh;
    align-items: center;
    border: 10px solid #D61C4E;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
  }
  .subtitulo{
    font-size: 14px;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Press Start 2P', 'GraphicPixel', 'HISKYFLIPPERLOWBOLD';
    letter-spacing: 0px;
  }
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
  .tarjeta-personaje{
    width: 110px;
    height: 125px;
    font-size: 15px;
    padding: 0px;
    background: #3FA796;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 10px;
    color: white;
    text-align: center;
  }
  .tarjeta-personaje img{
    width: 110px;
    height: 72px;
    object-fit: cover;
  }
  button {
    background-color: #A10035;
    font-family: 'Press Start 2P', 'GraphicPixel', 'HISKYFLIPPERHIBOLD';
    font-size: 10px;
    font-weight: bold;
    width: 170px;
    height: 45px;
    margin: 15px;
    color: whitesmoke;
    border-radius: 30px;
    border: 5px solid #FEC260;
    letter-spacing: 3px;
  }
  #select-ataque{
    background-color: #D61C4E;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 48vh;
    align-items: center;
    border: 6px solid #FEC260;
    border-radius: 5px;
    margin-top: 30px;
  }
  .boton-ataque{
    background-color: #3FA796;
    font-family: 'Press Start 2P', 'GraphicPixel', 'HISKYFLIPPERHIBOLD';
    font-size: 12px;
    font-weight: bold;
    width: 124px;
    height: 45px;
    margin-top: 15px;
    color: whitesmoke;
    border-radius: 8px;
    border: 2px solid #2A0944;
    letter-spacing: 2px;
    margin-right: 20px;
  }
  #mensajes{
    border: none;
    width: auto;
    margin-top: 0px;
    display: flex;
    color: white;
    text-align: center;
  }
 .mensajes-ataques{
  display: grid;
  grid-template-columns: 130px 130px;
  margin: 30px;
  height: auto;
  gap: 20px;
 }
 #resultado{
  font-size: 14px;
 }
 #boton-reiniciar{
  font-size: 12px;
  margin: 40px;
  width: 170px;
  height: 45px;
 }
}